 /*
Authors: Stefan Waidele, Matthias Vongerichten
*/

/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------------------*
/* = Body, Common Classes & Wrap
/*-----------------------------------------------------------------------------------*/

body {
	background: #C4AA8B;
    font-family: Calibri ,Arial, Helvetica;
	font-size:100%;
}

a:hover {
	text-decoration:underline;
}

p {
	margin-bottom:10px;
}

p,ol,ul {
	line-height:1.1;
}

.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.remove-margin { margin-right: 0 !important }

/*-----------------------------------------------------------------------------------*
/* = Überschriften
/*-----------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    color: #333;
    line-height: 1.2em;
	font-weight: bold;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.2em;
}
h2 { font-size: 1.4em }
h3 { font-size: 1.2em }
h4 { font-size: 1em; }
h2,
h3,
h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*-----------------------------------------------------------------------------------*
/* = Seitengerüst
/*-----------------------------------------------------------------------------------*/

#wrap{
	margin: 0 auto;
	width:420px;
}

#inner-wrapper{
	background:#fff;
	padding: 60px 15px 40px;
	box-shadow: 0px 0px 10px 0px #000;
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	-moz-box-shadow: 0px 0px 10px 0px #000;
}

#content img {
	margin:0 10px 10px 0;
	width:100%;
}
.titel {
	width=100%;
}

/*-----------------------------------------------------------------------------------*
/* = Sidebar
/*-----------------------------------------------------------------------------------*/

#sidebar {
	padding:5px;
}

#sidebar ul {
	list-style:square inside;
}

.sidebar-topic {
	color:#fff;
	z-index:999;
	position:relative;
	margin:5px -30px 5px -15px;
	padding: 5px 0px 5px 5px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	border-radius: 0px 0px 2px 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	-moz-border-radius: 0px 0px 2px 2px;
	background-color: #004d79;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
}

/*-------------------------------------------------*
/* = Header
/*-------------------------------------------------*/
#header {
	margin: 15px auto;
}

#logo {
	width:400px;
}

#social-bar {
	float:right;
}



/*-------------------------------------------------*
/* =  Navigation
/*-------------------------------------------------*/
#nav {
	position: relative;
	float:left;
	top: 30px;
	/*bottom: 20px;*/
	margin: 0px 0px 0px -10px;
	padding: 0px 10px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	border-radius: 0px 0px 2px 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
	-moz-border-radius: 0px 0px 2px 2px;
	width: 100%;
	background-color: #004d79;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
}


#nav li {
    float: left;
	line-height: 1.7em;
	font-size: 1.1em;
	color: #fff;
}
#nav li a {
	border-right:1px solid #fff;
	padding:0 10px;
	color: white;
	text-decoration: none;	
}

#nav li a:visited {
	color: white;
}
#nav li a:hover {
	color: white;
	text-decoration: underline;
}



/* Ribbons */

.corner-left {
	width: 0px; 
	height: 0px;
	position: absolute;
	left: 0px;
	top: -10px;
	border-top: 10px solid transparent;
	border-bottom: 0px solid transparent; 
	border-right: 10px solid #222222;
	}
.corner-right {
	width: 0px; 
	height: 0px;
	position: absolute;
	right: 0px;
	top: -10px;
	border-top: 10px solid transparent;
	border-bottom: 0px solid transparent; 
	border-left: 10px solid #222222;
	}

#breadcrump {
	font-size:0.8em;
}

/*-----------------------------------------------------------------------------------*
/* = Footer
/*-----------------------------------------------------------------------------------*/

#footer{
	font-size:0.7em;
	background-color:#fac200;
	border-bottom: 0px;
	margin:10px 0 0 0;
	padding: 5px 20px;
	overflow: hidden;
	color: #7f7f7f;
}

#footer #right {
	float:right;
	line-height:24px;
}

#footer #right a {
	vertical-align:bottom;
}

/*-----------------------------------------------------------------------------------*
/* = Reisedetails
/*-----------------------------------------------------------------------------------*/

#booking   {
	background: #fac200;
	color: #004d79;
}


/*-----------------------------------------------------------------------------------*
/* = Kontaktformular
/*-----------------------------------------------------------------------------------*/

#contact-form {
	width:100%;
}

#contact-form td {
	vertical-align:top;
}

#contact-form tr td:first-child{
	width:150px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#fac200;
	color:#004d79;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}


/*-----------------------------------------------------------------------------------*
/* = Responsive Design
/*-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 480px){

/* Handy, hochkant */

	#wrap{
	margin: 0 auto;
	width:90%;
	}
	
	p,ol,ul {
		line-height:1.1;
	}
	img {
		width=100%;
	}
	#logo {
		width:100%;
	}
}


@media only screen and (min-width: 480px){

/* BEAMER */

	#wrap{
	margin: 0 auto;
	width:90%;
	}
	
	p,ol,ul {
		line-height:1.1;
	}
	.titel {
		width=100%;
	}

}

@media only screen and (min-width: 800px){

/* Klassischer Desktop */
	
	p,ol,ul {
		line-height:1.2;
	}
	
	#sidebar {
		width:25%;
		float:right;
	}
	#content {
		width:70%;
		float:left;
	}
	
	#content img {
		float:left;
		width:250px;
	}
	.titel {
		width=100%;
	}

}

@media only screen and (min-width: 960px){
 
/* Zeitgemäßer Desktop */

	#wrap{
	width:920px;
	margin: 0 auto;
	}
	
	p,ol,ul {
		line-height:1.3;
	}
.titel {
	width=100%;
}

}

